<ul class="menu-two">
    <li class="menu-two-item"><a href="{% url 'business' %}#to-whom" class="menu-two-link">Кому</a></li>
    <li class="menu-two-item"><a href="{% url 'business' %}#how-it-works" class="menu-two-link">Как работает</a></li>
    <li class="menu-two-item"><a href="{% url 'business' %}#why-are-we" class="menu-two-link">Почему мы?</a></li>
    <li class="menu-two-item"><a href="{% url 'business' %}#full-time-employees" class="menu-two-link">Штатные сотрудники</a></li>
    <li class="menu-two-item"><a href="{% url 'business' %}#big-business" class="menu-two-link">Крупный бизнес</a></li>
</ul>