<div class="container-fluent screen-with-img screen-1">
  <div class="container content-1">
    <div class="row justify-content-center gx-0">
      <div class="col content-1-1">
        <div class="row align-items-center content-1-1-row">
          <h1>
            Сервис эффективного движения денег для бизнеса
            <span class="red"> любого масштаба</span>
          </h1>
        </div>
        <div class="row content-1-1-row">
          <span
            >Выплаты физ.лицам. Умный эквайринг. Донатный портал. Чаевые. Гибкие
            выплаты штатным сотрудникам и тд.</span
          >
        </div>
        <div class="row content-1-1-row">
          <div class="row pros-row">
            <div class="col content-1-1-pros">
              <div class="col-auto">
                <img src="/static/media/payment.png" />
              </div>
              <div class="col">
                <p>
                  <span class="bold">Освобождаем от сложностей </span>
                  в расчетах физ.лицам
                </p>
              </div>
            </div>
            <div class="col content-1-1-pros">
              <div class="col-auto">
                <img src="/static/media/bank.png" />
              </div>
              <div class="col">
                <p>
                  <span class="bold">Быстро дорабатываем</span>
                  систему под запрос бизнеса
                </p>
              </div>
            </div>
          </div>

          <div class="row pros-row">
            <div class="col content-1-1-pros">
              <div class="col-auto">
                <img src="/static/media/withdraw.png" />
              </div>
              <div class="col">
                <p>
                  <span class="bold">Консультируем про бизнес – моделям </span>
                  выстраивания бизнеса
                </p>
              </div>
            </div>
            <div class="col content-1-1-pros">
              <div class="col-auto"><img src="/static/media/report.png" /></div>
              <div class="col">
                <p>
                  Подходим <span class="bold">любой отрасли </span>
                  и для любого масштаба бизнеса
                </p>
              </div>
            </div>
          </div>
          <div class="row pros-row">
            <div class="col content-1-1-pros">
              <div class="col-auto"><img src="/static/media/report.png" /></div>
              <div class="col">
                <p>
                  <span class="bold">Выстраиваем сценарии эквайринга </span>
                  для любого бизнеса, включая сплитование денежных средств
                </p>
              </div>
            </div>
            <div class="col content-1-1-pros">
              <div class="col-auto"><img src="/static/media/bank.png" /></div>
              <div class="col">
                <p>
                  Имеем прямые интеграторские договоры с
                  <span class="bold">крупнейшими банками </span> и помогаем
                  обезопасить ваш бизнес
                </p>
              </div>
            </div>
          </div>
          <div class="row pros-row"></div>
        </div>
        <div class="row content-1-1-row reverse">
          <div class="col-auto">
            <a class="large-btn" href="#answer-request"
              >Узнать подробнее</a
            >
          </div>
          <div class="col-auto">
            <p>
              Сервис Cash&IT закрывает потребности большинства рынков в расчетах
              с исполнителями и заказчиками, и всех участников рынка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
