<div class="container-fluent screen-2">
    <div class="container content-2">
        <div class="row justify-content-center content-2-1">
                <h2>Наши партнеры</h2>
        </div>
        <div class="row content-2-2 gx-0">
            <div class="col-auto"><img src="/static/media/tinkoff-logo.png"></div>
            <div class="col-auto"><img src="/static/media/tkb-logo.png"></div>
            <div class="col-auto"><img src="/static/media/otkr-logo.png"></div>
            <div class="col-auto"><img src="/static/media/tochka-logo.png"></div>
        </div>
    </div>
</div>