<div class="container-fluent screen-3 bg-white">
  <div class="container content-3">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h2>
          Какие возможности Cash&IT сегодня особенно востребованы клиентами
        </h2>
      </div>
    </div>
    <div class="row justify-content-center content-3-2">
      <div class="col">
        <div class="row justify-content-center gx-0 content-3-2-row">
          <a href="{% url 'payment' %}" class="col content-3-2-block">
            <div class="block-3-2-head">
              <h4>Моментальные выплаты</h4>
            </div>
            <div>
              Выплаты самозанятым, физ.лицам и штатным сотрудникам. Моментально
              на карту 24/7.
            </div>
            <div class="block-3-2-foot">Подробнее</div>
          </a>

          <a href="{% url 'acquiring' %}" class="col content-3-2-block">
            <div class="block-3-2-head">
              <h4>Эквайринг</h4>
            </div>
            <div>
              Умный интернет-эквайринг со сплитованием платежей Удобно и вам и
              вашим партнерам.
            </div>
            <div class="block-3-2-foot">Подробнее</div>
          </a>
          <a href="{% url 'salary' %}" class="col content-3-2-block">
            <div class="block-3-2-head">
              <h4>ЗП каждый день</h4>
            </div>
            <div>
              HR модуль, разработанный для клиентов, которые хотят
              автоматизировать выплату ЗП сотрудников каждый день, или по своему
              графику
            </div>
            <div class="block-3-2-foot">Подробнее</div>
          </a>
        </div>
        <div class="row justify-content-center gx-0 content-3-2-row">
          <a href="{% url 'donate' %}" class="col content-3-2-block">
            <div class="block-3-2-head">
              <h4>Донатный портал</h4>
            </div>
            <div>
              Удобно для сбора донатных средств и работе с блогерами и
              различными фондами
            </div>
            <div class="block-3-2-foot">Подробнее</div>
          </a>
          <a href="{% url 'tips' %}" class="col content-3-2-block">
            <div class="block-3-2-head">
              <h4>Чаевые</h4>
            </div>
            <div>
              Сервис чаевых для сотрудника или компании с выгодными комиссиями и
              удобными настройками
            </div>
            <div class="block-3-2-foot">Подробнее</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
