<div class="container-fluent screen-4">
    <div class="container content-4">
        <div class="row justify-content-center content-4-head">
                <h2>Какие возможности дает сервис</h2>
        </div>
            <div class="row content-4-1">

                <div class="col content-4-1-block">
                    <div class="content-4-1-block-img">
                        <img src="/static/media/cards.png">
                    </div>
                    <div class="content-4-1-block-head">
                        <h4>Выплаты 24/7 с индивидуальными и массовыми настройками</h4>
                    </div>
                    <div class="content-4-1-block-text">Через ваш личный кабинет в сервисе возможно произвести массовые
                        и индивидуальные настройки для выплат вашим исполнителям</div>
                </div>
                <div class="col content-4-1-block">
                    <div class="content-4-1-block-img">
                        <img src="/static/media/rubuparrow.png">
                    </div>
                    <div class="content-4-1-block-head">
                        <h4>Низкая комиссия от 0,7%</h4>
                    </div>
                    <div class="content-4-1-block-text">Предоставляем фиксированные ставки комиссий и возможность
                        самостоятельно регулировать исходящие ставки на выплаты через личный кабинет сервиса</div>
                </div>
                <div class="col content-4-1-block">
                    <div class="content-4-1-block-img">
                        <img src="/static/media/bank2.png">
                    </div>
                    <div class="content-4-1-block-head">
                        <h4>Проверенные банки–партнеры</h4>
                    </div>
                    <div class="content-4-1-block-text">Мы работаем только с банками, понимающими ваш бизнес. Все
                        клиенты заводятся в банк со статусом VIP</div>
                </div>

                <div class="col content-4-1-block">
                    <div class="content-4-1-block-img">
                        <img src="/static/media/agreement.png">
                    </div>
                    <div class="content-4-1-block-head">
                        <h4>Дистанционное подписание договора с физлицом</h4>
                    </div>
                    <div class="content-4-1-block-text">Сервис позволят дистанционно подписывать оферты прямо в
                        приложении и выгружать статусы и даты подписания</div>
                </div>
                <div class="col content-4-1-block">
                    <div class="content-4-1-block-img">
                        <img src="/static/media/integration.png">
                    </div>
                    <div class="content-4-1-block-head">
                        <h4>Безопасная и простая интеграция</h4>
                    </div>
                    <div class="content-4-1-block-text">Есть своя автоматизация? Сервис интегрируется по открытому API с
                        любой внешней учетной системой</div>
                </div>
                <div class="col content-4-1-block">
                    <div class="content-4-1-block-img">
                        <img src="/static/media/support.png">
                    </div>
                    <div class="content-4-1-block-head">
                        <h4>Служба поддержки</h4>
                    </div>
                    <div class="content-4-1-block-text">Экспертная служба поддержки. Выделенный аккаунт менеджер для
                        каждого клиента</div>
                </div>
            </div>
            <div class="row justify-content-center content-4-2">
                <div class="col-auto content-4-2-1"><img src="/static/media/smartphone.png"></div>
                <div class="col content-4-2-2">
                    <div>
                        <h2>Легко и удобно в мобильном приложении</h2>
                    </div>
                    <div class="content-4-2-2-block-1">
                        Физлица сами выводят деньги в мобильном приложении.
                        Интегрируйте сервис в ваши учетные системы. Мы поможем
                        на всех этапах
                    </div>
                    <div class="content-4-2-2-block-2">
                        <div class="content-4-2-2-block-2-head">
                            Или выплачивайте сами в два клика, по номеру карты или телефона.
                        </div>
                        <div class="content-4-2-2-block-2-img">
                            <img src="/static/media/key.png">
                        </div>
                        <div class="content-4-2-2-block-2-text">
                            Настройте уровни доступа сотрудникам.
                            Возможно подтверждение платежей руководителем.
                        </div>
                    </div>
                    <div>
                        <div class="row store-buttons">
                            <div class="col-auto store-button">
                                <a href="https://play.google.com/store/apps/details?id=ru.cashit"><img
                                        src="/static/media/playmarket2.png"></a>
                            </div>
                            <div class="col-auto store-button">
                                <a href="https://apps.apple.com/ru/app/cash-it/id1571869091"><img
                                        src="/static/media/appstore2.png"></a>
                            </div>
                            <div class="col-auto  store-button">
                                <a href="https://apps.rustore.ru/app/ru.cashit">
                                    <img class="rustore-btn-black"
                                        src="/static/media/rustore-black.png"></a>
                            </div>      <div class="col-auto  store-button">
                                <a href="https://appgallery.huawei.com/#/app/C108605507">
                                    <img class="huawey-btn-black"
                                        src="/static/media/huaway-wb.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>