{% extends "base.html" %}
{% load static %}

{% block title %}
    Бизнес
{% endblock %}

{% block content %}
    <section class="business-one" id="to-whom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="business-one-block">
                        <h1 class="name">
                            Бизнесу
                        </h1>
                        <h2 class="title">
                            Каким компаниям выгодно переходить на сервис?
                        </h2>
                        <p class="business-one-text">
                            Компаниям, которые хотят:
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="business-one-inner">
                        <img src="/static/media/bus-one.png" alt="">
                        <p class="business-one-inner-text">
                            Легально осуществлять расчеты с физическими лицами
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="business-one-inner">
                        <img src="/static/media/bus-two.png" alt="">
                        <p class="business-one-inner-text">
                            Выплачивать средства моментально с низкой или нулевой комиссией
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="business-one-inner">
                        <img src="/static/media/bus-three.png" alt="">
                        <p class="business-one-inner-text">
                            Автоматизировать взаимодействия с физическими лицами в части выплат и документооборота
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="business-one-inner">
                        <img src="/static/media/bus-four.png" alt="">
                        <p class="business-one-inner-text">
                            Минимизировать налоговые риски в работе с самозанятыми
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="business-one-inner">
                        <img src="/static/media/bus-five.png" alt="">
                        <p class="business-one-inner-text">
                            Эффективно использовать ресурс бухгалтерии и сотрудников, координирующих финансовые отношения с физическими лицами
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="business-one-inner">
                        <img src="/static/media/bus-six.png" alt="">
                        <p class="business-one-inner-text">
                            Увеличивать количество самозанятых в «штате»
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="business-two" id="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="business-two-block">
                        <h2 class="title">
                            Как работает сервис?
                        </h2>
                        <div class="business-two-flex">
                            <div class="business-two-circle">
                                1
                            </div>
                            <div>
                                <p>
                                    Физ.лицо устанавливает приложение Cash&IT
                                </p>
                            </div>
                        </div>
                        <div class="business-two-flex">
                            <div class="business-two-circle">
                                2
                            </div>
                            <div>
                                <p>
                                    Вы пополняете баланс в кредитной организации
                                </p>
                            </div>
                        </div>
                        <div class="business-two-flex">
                            <div class="business-two-circle">
                                3
                            </div>
                            <div>
                                <p>
                                    Мы автоматизируем выплаты и фискализацию дохода
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section >
    <section class="business-three" id="why-are-we">
        <div class="object">
            <img src="/static/media/object.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">
                        Почему Cash&IT
                    </h2>
                </div>
                <div class="col-md-6 col-12">
                    <ul class="head-four-text">
                        <li>
                            Низкие тарифы — моментальные выплаты от 0%
                        </li>
                        <li>
                            Простая и быстрая интеграция
                        </li>
                        <li>
                            Большой опыт работы на узкоспециализированных рынках,
                        </li>
                        <li>
                            Возможность брендированного приложения
                        </li>
                        <li>
                            Быстрая адаптация сервиса под потребность именно вашего бизнеса
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-12">
                    <ul class="head-four-text">
                        <li>
                            Собственная разработка
                        </li>
                        <li>
                            Штатные менеджеры
                        </li>
                        <li>
                            При необходимости выдавать чеки - у нас уже есть рабочее и полностью облачное решение по исполнению 54 ФЗ
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="business-five" id="full-time-employees">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12">
                    <div class="head-four-block">
                        <h2 class="title">
                            Штатные сотрудники
                        </h2>
                        <ul class="head-four-text">
                            <p>Ваши сотрудники устроены в штат компании? Им больше не придется занимать "До зарплаты" - ведь они смогут получать заработанные средства хоть каждый день. Поднимите еще выше привлекательность вашей компании у действующих и потенциальных сотрудников.</p>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="head-four-img">
                        <img src="/static/media/employment-record.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="business-four" id="big-business">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">
                        Крупный бизнес
                    </h2>
                    <p class="business-four-text">
                        Наши разработчики помогут вам с интеграцией по API
                    </p>
                    <p class="business-four-text business-four-text-two">
                        Расскажите нам о задачах вашего бизнеса - мы предложим решения с интеграцией, которые подойдут именно вам
                    </p>
                    <a href="#" class="flex-btn business-four-btn" data-toggle="modal" data-target="#exampleModal">Оставить заявку</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}