{% extends "base.html" %}
{% load static %}

{% block title %}
    Самозанятым
{% endblock %}

{% block content %}
    <section class="self-one">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="name">
                        Самозанятым
                    </h1>
                </div>
                <div class="col-md-7 col-12">
                    <div class="self-one-block">
                        <h2 class="title">
                            Сервис полностью бесплатен для физических лиц
                        </h2>
                        <p class="self-one-text">
                            Выплата денег производится в один клик - при нажатии кнопки «Моментальная выплата» в приложении, денежные средства поступают вам в течении нескольких секунд.
                        </p>
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class="self-img">
                        <img class="self-img-back" src="/static/media/self-one.png" alt="">
                        <img class="self-img-top" src="/static/media/phone.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="self-two">
        <div class="object">
            <img src="/static/media/object.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="self-two-text">
                        Для того, чтобы воспользоваться сервисом необходимо, чтобы вы и ваш заказчик были зарегистрированы в сервисе.
                    </p>
                </div>
                <div class="col-md-12 col-6">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="self-two-img">
                                <img src="/static/media/self-two.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="self-two-img">
                                <img src="/static/media/self-three.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="self-two-img">
                                <img src="/static/media/self-four.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-6 self-line-position">
                    <div class="self-line-two">
                        <div class="self-line-item-two"></div>
                        <div class="self-line-item-two"></div>
                        <div class="self-line-item-two"></div>
                    </div>
                    <div class="self-line">
                        <div class="self-line-item"></div>
                        <div class="self-line-item"></div>
                        <div class="self-line-item"></div>
                    </div>
                    <div class="row self-row">
                        <div class="col-md-4 col-12">
                            <p class="self-two-line-text">
                                Исполнитель получил оплату за выполненную работу
                            </p>
                        </div>
                        <div class="col-md-4 col-12">
                            <p class="self-two-line-text">
                                В приложении Cash&IT нажать кнопку “Моментальная выплата”
                            </p>
                        </div>
                        <div class="col-md-4 col-12">
                            <p class="self-two-line-text mb-null">
                                В течении нескольких секунд деньги приходят на карту исполнителя
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p class="self-bottom-text">
                        Для вашего заказчика необходимо создать личный кабинет, оставив заявку на нашем сайте, для того, чтобы ваши трудовые отношения были защищены договором-оффертой.

                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}