{% extends "base.html" %}
{% load static %}

<!doctype html>
<html>

<head>
  <meta charset="utf-8">

  {% block title %}
  Текстовая страница
  {% endblock %}
  
  <link rel="stylesheet" href="{% static 'base/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/bootstrap-utilities.min.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/main.css' %}">
</head>

<body>
  {% block content %}
  <main>
    <div class="container">
      <h1>Заголовок 1 — Формировании плановых идейные и от анализа и условий рост задач</h1>
      <p>
        Задания дальнейших идейные разработке высшего по сложившаяся и соображения направлений поставленных значение
        административных интересный повседневная направлений эксперимент в образом образом намеченных соответствующий
        активности активизации. Интересный требуют задания позиций, от существенных нас играет отношении эксперимент
        образом способствует образом направлений роль постоянный развития. Количественный направлений в практика
        соображения собой количественный а формировании интересный
      </p>
      <p>
        В структура условий организации, активизации. Развития. Административных и собой и деятельности высшего
        соображения и требуют высшего рост позволяет позволяет деятельности нашей в собой также оценить реализации новая
        плановых и особенности организации высшего особенности соображения способствует модель роль идейные участниками
        условий. Активности организации количественный развития. Формировании также образом активизации. Отношении
        образом сфера эксперимент и задача существенных равным идейные
      </p>

      <h2>Заголовок 2 — Формировании плановых идейные и от анализа и условий рост задач</h2>
      <p>
        Задания дальнейших идейные разработке высшего по сложившаяся и соображения направлений поставленных значение
        административных интересный повседневная направлений эксперимент в образом образом намеченных соответствующий
        активности активизации. Интересный требуют задания позиций, от существенных нас играет отношении эксперимент
        образом способствует образом направлений роль постоянный развития. Количественный направлений в практика
        соображения собой количественный а формировании интересный
      </p>
      <p>
        В структура условий организации, активизации. Развития. Административных и собой и деятельности высшего
        соображения и требуют высшего рост позволяет позволяет деятельности нашей в собой также оценить реализации новая
        плановых и особенности организации высшего особенности соображения способствует модель роль идейные участниками
        условий. Активности организации количественный развития. Формировании также образом активизации. Отношении
        образом сфера эксперимент и задача существенных равным идейные
      </p>

      <h3>Заголовок 3 — Формировании плановых идейные и от анализа и условий рост задач</h3>
      <p>
        Задания дальнейших идейные разработке высшего по сложившаяся и соображения направлений поставленных значение
        административных интересный повседневная направлений эксперимент в образом образом намеченных соответствующий
        активности активизации. Интересный требуют задания позиций, от существенных нас играет отношении эксперимент
        образом способствует образом направлений роль постоянный развития. Количественный направлений в практика
        соображения собой количественный а формировании интересный
      </p>
      <p>
        В структура условий организации, активизации. Развития. Административных и собой и деятельности высшего
        соображения и требуют высшего рост позволяет позволяет деятельности нашей в собой также оценить реализации новая
        плановых и особенности организации высшего особенности соображения способствует модель роль идейные участниками
        условий. Активности организации количественный развития. Формировании также образом активизации. Отношении
        образом сфера эксперимент и задача существенных равным идейные
      </p>

      <h4>Заголовок 4 — Формировании плановых идейные и от анализа и условий рост задач. Формировании плановых идейные и
        от анализа и условий рост задач</h4>
      <p>
        Задания дальнейших идейные разработке высшего по сложившаяся и соображения направлений поставленных значение
        административных интересный повседневная направлений эксперимент в образом образом намеченных соответствующий
        активности активизации. Интересный требуют задания позиций, от существенных нас играет отношении эксперимент
        образом способствует образом направлений роль постоянный развития. Количественный направлений в практика
        соображения собой количественный а формировании интересный
      </p>
      <p>
        В структура условий организации, активизации. Развития. Административных и собой и деятельности высшего
        соображения и требуют высшего рост позволяет позволяет деятельности нашей в собой также оценить реализации новая
        плановых и особенности организации высшего особенности соображения способствует модель роль идейные участниками
        условий. Активности организации количественный развития. Формировании также образом активизации. Отношении
        образом сфера эксперимент и задача существенных равным идейные
      </p>

      <h5>Заголовок 5 — Формировании плановых идейные и от анализа и условий рост задач. Формировании плановых идейные и
        от анализа и условий рост задач</h5>
      <p>
        Задания дальнейших идейные разработке высшего по сложившаяся и соображения направлений поставленных значение
        административных интересный повседневная направлений эксперимент в образом образом намеченных соответствующий
        активности активизации. Интересный требуют задания позиций, от существенных нас играет отношении эксперимент
        образом способствует образом направлений роль постоянный развития. Количественный направлений в практика
        соображения собой количественный а формировании интересный
      </p>
      <p>
        В структура условий организации, активизации. Развития. Административных и собой и деятельности высшего
        соображения и требуют высшего рост позволяет позволяет деятельности нашей в собой также оценить реализации новая
        плановых и особенности организации высшего особенности соображения способствует модель роль идейные участниками
        условий. Активности организации количественный развития. Формировании также образом активизации. Отношении
        образом сфера эксперимент и задача существенных равным идейные
      </p>
    </div>

    <div class="container">

      <div class="row main-row">
        <div class="col-3">
          <a href="#">Cсылка в тексте</a>
        </div>
        <div class="col-md-auto">
          <input type="checkbox" class="custom-checkbox" id="cb1" name="cb1">
          <label for="cb1">Я соглашаюсь с&nbsp;<a href="#">пользовательским соглашением</a></label>
        </div>
      </div>

      <div class="row main-row">
        <div class="col-3">
          <ul>
            <li>Пункт списка</li>
            <li>Пункт списка</li>
            <li>Пункт списка</li>
          </ul>
        </div>
        <div class="col-md-auto">
          <div>
            <input type="radio" checked="true" id="radio1" name="radio" class="custom-radio">
            <label for="radio1">Пункт списка</label>
          </div>

          <div>
            <input type="radio" id="radio2" name="radio" class="custom-radio">
            <label for="radio2">Пункт списка</label>
          </div>
        </div>
      </div>

    </div>

    <div class="container">
      <div class="row main-row">
        <div class="col-5"><a class="large-btn" href="#">Узнать о возможностях сервиса</a></div>
        <div class="col-4"><a class="medium-btn" href="#">Получить КП</a></div>
        <div class="col-3"><a class="request-btn" href="#">Оставить заявку</a></div>
      </div>
    </div>

    <div class="container">
      <div class="row main-row">
        <div class="col-5">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Заголовок</th>
                <th>Заголовок</th>
                <th>Заголовок</th>
                <th>Заголовок</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Текст</td>
                <td>Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
              <tr>
                <td>Текст</td>
                <td>Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
              <tr>
                <td>Текст</td>
                <td>Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
              <tr>
                <td>Текст</td>
                <td>Текст</td>
                <td>Текст</td>
                <td>Текст</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row main-row">
        <div class="col-sm-auto">
          <a class="appstore-btn" href="#">&nbsp;</a>
        </div>
        <div class="col-auto">
          <a class="playmarket-btn">&nbsp;</a>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}

  <script src="{% static 'base/js/jquery-3.4.1.min.js' %}"></script>
  <script src='{% static "base/js/bootstrap.min.js" %}'></script>
</body>

</html>