<div class="container-fluent contact-screen">
    <div class="container">
        <div class="row content-body">
            <div class="col">
                <h3>
                    Cash&IT активно дорабатывается под
                    различные рынки.
                </h3>
                <h3>
                    Просто свяжитесь с нами и сообщите,
                    что необходимо именно вашей компании
                    и отрасли – мы предложим вам решение
                    для <span class="red">комфортной и эффективной</span> работы
                    вашего бизнеса.
                </h3>
                <div class="wrapper">
                    <p class="checked-p">Консультируем беплатно</p>
                    <p class="checked-p">Гарантируем индивидуальный подход</p>
                    <p class="checked-p">Быстро подключаем</p>
                    <p class="checked-p">Всегда на связи</p>
                </div>
            </div>
            <div class="col-auto">
                {% include 'include//forms//cbform-1.html' %}
            </div>
        </div>
    </div>
</div>