<div class="container-fluent how-it-works-screen">
  <div class="container">
    <div class="row content-head"><h2>Как работает сервис</h2></div>
    <div class="row content-body">
      <div class="col">
        <h3 class="mb-4">Вариант 1</h3>
        <h4 class="mb-4">С помощью мобильного приложения Cash&IT</h4>
        <p class="checked-p">
          Вы регистрируете исполнителей в сервисе (руками/реестром/по api),
          настраиваете правила выплат
        </p>
        <p class="checked-p">Пользователи устанавливают мобильное приложение</p>
        <p class="checked-p">
          Изменяете баланс исполнителей (руками/реестром/по api)
        </p>
        <p class="checked-p">Пользователи выводят средства 24/7</p>
      </div>
      <div class="col">
        <h3 class="mb-4">Вариант 2</h3>
        <h4 class="mb-4">С помощью реестров</h4>
        <p class="checked-p">
          Реестром добавляете исполнителей в систему и изменяете их баланс
        </p>
        <p class="checked-p">Реестром осуществляете массовые выплаты.</p>    
      </div>
    </div>
  </div>
</div>
