<div class="container-fluent how-it-works-screen">
  <div class="container">
    <div class="row content-head"><h2>Как работает сервис</h2></div>
    <div class="row content-body justify-content-center">
      <div class="col">
        <h4 class="mb-4">
          Вы устанавливаете настройки, подходящие вашему бизнесу. Например, вы
          можете все чаевые оставлять компании, или же наоборот делиться
          платежами с вашим сотрудником
        </h4>
        <p class="checked-p">
          В приложении сотрудника генерируется уникальная платежная страница (QR
          код или платежная ссылка)
        </p>
        <p class="checked-p">
          QR код можно разместить на видном месте (или показать прямо в
          приложении), а платежную ссылку отправить через мессенджеры
        </p>
        <p class="checked-p">
          Клиенты оплачивают чаевые, а сервис делит платеж исходя из ваших
          настроек
        </p>
      </div>
    </div>
  </div>
</div>
