<div class="container-fluent how-it-works-screen">
    <div class="container">
        <div class="row content-head"><h2>Как работает сервис</h2></div>
        <div class="row content-body">
            <div class="col">
                <h3>Вариант 1</h3>
                <p class="checked-p">Физические лица сами выводят деньги через приложение Cash&IT</p>
                <p class="checked-p">Интегрируете сервис в ваши учетные системы</p>
                <p class="checked-p">Мы помогаем на всех этапах</p>
            </div>
            <div class="col">
                <h3>Вариант 2</h3>
                <p class="checked-p">Выплаты осуществляются по вашей инициативе</p>
                <p class="checked-p">Всего два клика, по номеру карты или телефона</p>
                <p class="checked-p">Настраивайте уровни доступа сотрудникам</p>
                <p class="checked-p">Возможно подтверждение платежей руководителем</p>
            </div>
        </div>
    </div>
</div>