<div class="container-fluent screen-with-img staff-screen">
    <div class="container">
        <div class="row content-body">
            <div class="col text-block">
                <h2>Штатные сотрудники</h2>
                <p>
                    Ваши сотрудники устроены в штат компании? Им больше не придется занимать "До зарплаты" - 
                    ведь они смогут получать заработанные средства хоть каждый день. 
                    Поднимите еще выше привлекательность вашей компании у действующих и потенциальных сотрудников
                </p>
            </div>
            <div class="col img-block">
                <img src="/static/media/emploee.png">
            </div>
        </div>
    </div>
</div>